.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.page {
  height: 90vh;
  width: 100vw;
  text-align: center;
}

.project {
}

.project img {
  height: 40vh;
}

.me {
}

.me img {
  width: 90%;
}

.left {
  width: 50%;
  float: left;

  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.right {
  padding-left: 5%;
  padding-right: 5%;
  width: 50%;
  float: right;

  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.black-nav {
  height: 10vh;
  width: 100vw;
  background: black;
  display: flex;
  color: white;
  padding: 2vh;
  font-weight: 600;
  font-size: 3.5vh;
}

ul {
  list-style:none;
  margin:0;
  padding:0;
}

li {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border : 0;
  float: left;
}

.list {
  margin-top : 30px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
